streamlit
streamlit-ace
langchain
langchain-ollama
langchain-community
ollama
sentence-transformers
faiss-cpu
pypdf
python-magic
nltk
scikit-learn
numpy
pandas
plotly
sqlite3
python-dotenv
pathlib2
uuid
pdf2image
pytesseract
duckduckgo-search
